<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="aero">
		<h1>xrotor in web</h1>
		<h2>翼型特性登録</h2>
		<table>
			<tr>
				<th>
					<p>翼型を適用する位置(翼根を0、翼端を1とする)</p>
				</th>
				<th>
					<input v-model="ShowItem.rbyR">
				</th>
			</tr>
			<tr>
				<th>
					<p>揚力係数が0になるときの迎角</p>
				</th>
				<th>
					<input v-model="ShowItem.zeroCL">
				</th>
			</tr>
			<tr>
				<th>
					<p>d(Cl)/d(alpha) 揚力係数傾斜</p>
				</th>
				<th>
					<input v-model="ShowItem.d_CLbyd_alpha">
				</th>
			</tr>
			<tr>
				<th>
					<p>d(Cl)/d(alpha)@stall 失速時の揚力係数傾斜
					<br>(0.100から基本的に変更しない)</p>
				</th>
				<th>
					<input v-model="ShowItem.d_CLbyd_alpha_at_stall">
				</th>
			</tr>
			<tr>
				<th>
					<p>最大揚力係数</p>
				</th>
				<th>
					<input v-model="ShowItem.MaxCL">
				</th>
			</tr>
			<tr>
				<th>
					<p>最小揚力係数</p>
				</th>
				<th>
					<input v-model="ShowItem.MinCL">
				</th>
			</tr>
			<tr>
				<th>
					<p>失速後に上昇する揚力係数の最大値
					<br>(0.100から基本的に変更しない)</p>
				</th>
				<th>
					<input v-model="ShowItem.CLincrement2Stall">
				</th>
			</tr>
			<tr>
				<th>
					<p>最小抗力定数</p>
				</th>
				<th>
					<input v-model="ShowItem.MinCL">
				</th>
			</tr>
			<tr>
				<th>
					<p>最小揚力係数をとるときの揚力係数</p>
				</th>
				<th>
					<input v-model="ShowItem.CL_at_MinCL">
				</th>
			</tr>
			<tr>
				<th>
					<p>d(Cd)/d(CL^2) 揚抗比の抗力から揚力の二回微分値</p>
				</th>
				<th>
					<input v-model="ShowItem.d_Cdbyd_CL2">
				</th>
			</tr>
			<tr>
				<th>
					<p>解析をかけたレイノルズ数</p>
				</th>
				<th>
					<input v-model="ShowItem.Re">
				</th>
			</tr>
		</table>
		<button v-on:click="addItem">
			登録
		</button>
		<div></div>
		<select size="5" >
			<option v-for="item in items">{{ item.rbyR }}</option>
		</select>
		
		<h2>プロペラ特性入力</h2>
		<table>
			<tr>
				<th>
					<p>ブレード数</p>
				</th>
				<th>
					<input>
				</th>
			</tr>
			<tr>
				<th>
					<p>ペラ直径[m]</p>
				</th>
				<th>
					<input>
				</th>
			</tr>
			<tr>
				<th>
					<p>ハブ直径(プロペラ翼根で翼型が再現できない部分)[m]</p>
				</th>
				<th>
					<input>
				</th>
			</tr>
			<tr>
				<th>
					<p>巡航速度[m/s]</p>
				</th>
				<th>
					<input>
				</th>
			</tr>
			<tr>
				<th>
					<p>回転数[rpm]</p>
				</th>
				<th>
					<input>
				</th>
			</tr>
			<tr>
				<th>
					<p>推力[N]</p>
				</th>
				<th>
					<input>
				</th>
			</tr>
		</table>
		<button>解析</button>
	</div>
	<script src="content.js"></script>
</body>
</html>